<h2 mat-dialog-title>Edit Booking</h2>
<div mat-dialog-content>
  <form #editForm="ngForm">
    <mat-form-field>
      <mat-label>Select Table size</mat-label>
      <mat-select [(ngModel)]="editedBooking.numberOfPersons" name="numberOfPersons" required>
        <mat-option *ngFor="let table of table" [value]="table.value">{{ table.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="editedBooking.date" name="selected" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Time Slot</mat-label>
      <mat-select [(ngModel)]="editedBooking.slot" name="selectedValue" required>
        <mat-option *ngFor="let slot of slot" [value]="slot.value">{{ slot.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group aria-label="Select an option" [(ngModel)]="editedBooking.option" name="selectedOption" required>
      <mat-radio-button value="left">left</mat-radio-button>
      <mat-radio-button value="center">center</mat-radio-button>
      <mat-radio-button value="right">right</mat-radio-button>
    </mat-radio-group>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" [disabled]="!editForm.valid" (click)="saveChanges()">Save</button>
</div>
